<% if defined?(@cep_consultation) %>
  <% if @cep_consultation.valid? %>
    <p class="cep-valid"><%= present_cep_address(@cep_consultation.address) %></p>
  <% else %>
    <p class="cep-invalid"><%= present_cep_error_message(@cep_consultation.error_code) %></p>
  <% end %>
<% end %>

<%= form_tag consult_cep_path do %>
  <%= text_field_tag 'cep' %>
  <%= submit_tag 'Consultar CEP' %>
<% end %>
