<% if defined?(@cep_consultation) %>
  <% if @cep_consultation.valid? %>
    <p class="cep-valid"><%= @cep_consultation.message %></p>
  <% else %>
    <p class="cep-invalid"><%= @cep_consultation.message %></p>
  <% end %>
<% end %>

<%= form_tag consult_cep_path do %>
  <%= text_field_tag 'cep' %>
  <%= submit_tag 'Consultar CEP' %>
<% end %>
